<%- include('./partials/header.ejs') %>
        <div class="cont">
                <div>
                        <div class="home-header-cont">
                                <form action="stocks/search" method="GET">
                                       <input class="btn-input" type="text" 
                                       placeholder="Enter Ticker" autocomplete="off" 
                                       name="T" spellcheck="false">
                                       <button type="submit" class="grn-btn">Search Ticker</button>
                                </form>
                                <h1 class="daily-stock-head">Daily Stocks</h1>
                                
                        </div>
                        <div class="stock-cont">
                                <% dailyStocks.forEach(function(s) { %>
                                        <a href="/stocks/<%= s.T %>">
                                        <div class="stock">
                                                <p class="stock-title"><%= s.T %></p>
                                                <div class="canvas-div">
                                                        <canvas id="<%= s.T %>"></canvas>
                                                </div>
                                                <script>
                                                        new Chart(document.getElementById("<%= s.T %>"), {
                                                        type: 'line',
                                                        data:{
                                                                labels: <%- JSON.stringify(s.labels) %>,
                                                                datasets: [{
                                                                        label: '',
                                                                        data: [<%= s.data %>],
                                                                        backgroundColor: '#8fe590',
                                                                        borderColor: '#8fe590',
                                                                        borderWidth: 2,
                                                                        tension:0.1,
                                                                }]
                                                        },
                                                        options: {
                                                                plugins: {legend: false,},
                                                                legend: {enabled: false,},
                                                                title: {
                                                                display: true,
                                                                text: '',
                                                                fontSize: 20
                                                        },
                                                        elements: {
                                                                point: {
                                                                        radius: 0
                                                                }
                                                        },  
                                                        responsive: true,
                                                        maintainAspectRatio: false,
                                                        },
                                                        }); 
                                                </script>
                                        </div>
                                        </a>
                                <% }) %>
                        </div>
                </div>
        </div>

<%- include('./partials/footer.ejs') %>
