<%- include('./partials/header.ejs') %>
        <div class="cont">
                <div class="home-header-cont">
                        <form>
                               <input type="text" value="Enter Stock Ticker">
                               <button type="submit">Search</button>
                        </form>
                        <h1 class="daily-stock-head">Daily Stocks</h1>
                        <p>Sample Text</p>
                </div>
                <div class="stock-cont">
                        <% stock.forEach(function(s) { %>
                                <a href="/<%= s.T %>">
                                <div class="stock">
                                        <p class="stock-title"><%= s.T %></p>
                                        <canvas id="<%= s.T %>"></canvas>
                                        <script>
                                                new Chart(document.getElementById("<%= s.T %>"), {
                                                type: 'line',
                                                data:{
                                                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange", "Aqua", "Forest", "Black","test"],
                                                        datasets: [{
                                                        label: '',
                                                        data: [50, 40, 30, 95, 25, 33, 90, 35, 85, 95],
                                                        backgroundColor: [
                                                                '#8fe590'
                                                        ],
                                                        borderColor: [
                                                            '#8fe590'
                                                        ],
                                                        borderWidth: 1
                                                        }]
                                                },
                                                options: {
                                                        plugins: {
                                                                legend: false,
                                                        },
                                                        legend: {
                                                                enabled: false,
                                                        },
                                                        scales: {
                                                        
                                                        yAxes: [{
                                                        ticks: {
                                                        
                                                                min: 0,
                                                                max: 100,
                                                                callback: function(value){return value+ "%"}
                                                                },  
                                                                scaleLabel: {
                                                                display: false,
                                                                labelString: "Percentage"
                                                                }
                                                        }]
                                                        },
                                                        title: {
                                                        display: false,
                                                        text: 'Micronutrients',
                                                        fontSize: 20
                                                },
                                                }
                                                }); 
                                        </script>
                                </div>
                                </a>
                        <% }) %>
                </div>
        </div>

<%- include('./partials/footer.ejs') %>
