<%- include('./partials/header.ejs') %>
        <div class="cont">
                <div class="home-header-cont">
                        <form action="/search" method="GET">
                               <input type="text" name="T">
                               <button type="submit">Search Ticker</button>
                        </form>
                        <h1 class="daily-stock-head">Daily Stocks</h1>
                        <p>Sample Text</p>
                </div>
                <div class="stock-cont">
                        <% dailyStocks.forEach(function(s) { %>
                                <a href="/<%= s.T %>">
                                <div class="stock">
                                        <p class="stock-title"><%= s.T %></p>
                                        <canvas id="<%= s.T %>"></canvas>
                                        <script>
                                                new Chart(document.getElementById("<%= s.T %>"), {
                                                type: 'line',
                                                data:{
                                                labels: [<%= s.labels %>],
                                                        datasets: [{
                                                        label: '',
                                                        data: [<%=  s.data %>],
                                                        backgroundColor: '#8fe590',
                                                        borderColor: '#8fe590',
                                                        borderWidth: 1
                                                        }]
                                                },
                                                options: {
                                                        plugins: {legend: false,},
                                                        legend: {enabled: false,},
                                                        scales: {
                                                                yAxes: [{
                                                                ticks: {
                                                                
                                                                        min: 0,
                                                                        max: 252,
                                                                        callback: function(value){return value+ "%"}
                                                                        },  
                                                                        scaleLabel: {
                                                                        display: false,
                                                                        labelString: "Percentage"
                                                                        }
                                                                }],
                                                                xAxes: [{
                                                                        type:'time',
                                                                }]
                                                        },
                                                        title: {
                                                        display: false,
                                                        text: 'Micronutrients',
                                                        fontSize: 20
                                                },
                                                }
                                                }); 
                                        </script>
                                </div>
                                </a>
                        <% }) %>
                </div>
        </div>

<%- include('./partials/footer.ejs') %>
