<%- include('../partials/header') %>

<h1>Edit Portfolio <%= editStock.T %> Stock</h1>
<form id="add-stock-portfolio" action="/portfolios/:id/?_method=PUT" method="POST">
    <label># of Shares Owned</label>
    <input type="number" value="<%= editStock.shares %>" name="shares">
    <br>
    <label>Average Price Paid</label>
    <input type="number" value="<%= editStock.avgPrice %>" name="avgPrice">
    <br>
    <button type="submit">Update Stock</button>
</form>


<%- include('../partials/footer') %>