<%- include('../partials/header') %>

    <div class="main-container">
        <h1><%= user.name %> - Stock Portfolio</h1>
        <h2>Total PnL: $<%= pnl.toFixed(2) %> </h2>
        <table id="portfolio-table">
            <thead>
                <tr>
                <th>Stock</th>
                <th>Shares<br>Owned</th>
                <th>Avg<br>Price Paid</th>
                <th>Current Price</th>
                <th>Profit/Loss</th>
                <th class="small-col">Edit</th>
                <th class="small-col">Delete</th>
                </tr>
          </thead>
          <tbody>
            <% userLists.portfolio.forEach(function(stock) { %>
              <tr>
                <td><a href="/<%= stock.T %>"><%= stock.T %></a></td>
                <td><%= stock.shares %></td>
                <td>$<%= stock.avgPrice %></td>
                <td>$<%= stocksList[stock.T] %></td>
                <td>$<%= ((stocksList[stock.T] - stock.avgPrice)*stock.shares).toFixed(2) %></td>
                <td class="small-col">
                    <form action="/portfolios/<%= stock.T %>/edit" method="GET">
                        <button class="edit-btn">Edit</button>
                    </form>
                </td>
                <td class="small-col">
                    <form action="/portfolios/<%= stock.T %>/?_method=DELETE" method="POST">
                        <button class="del-btn">X</button></td>
                    </form>
              </tr>
              <% }); %>
            </tbody>
        </table>
        <a class="add-button" href="/portfolios/new">Add Stock to Portfolio</a>
    </div>


<%- include('../partials/footer') %>