<%- include('../partials/header') %>

    <div class="main-container">
        <h1><%= user.name %> - Stock Watchlist</h1>
        <form id="add-watchlist" action="/watchlists" method="POST">
            <label>Stock Ticker</label>
            <input type="text" name="T">
            <button class="add-wl-button grn-btn" type="submit">Add Stock to Watchlist</button>
        </form>
        <table id="portfolio-table">
            <thead>
                <tr>
                <th>Stock</th>
                <th>Current<br>Stock Price</th>
                <th>Daily<br>Price Change</th>
                <th>Daily<br>Volume</th>
                <th class="small-col">Delete</th>
                </tr>
          </thead>
          <tbody>
            <% userLists.watchlist.forEach(function(stock) { %>
              <tr>
                <td><a href="/stocks/<%= stock.T %>"><%= stock.T %></a></td>
                <td><%= stocksList[stock.T].close %></td>
                <td><%= (stocksList[stock.T].close - stocksList[stock.T].open).toFixed(2) %></td>
                <td><%= stocksList[stock.T].volume.toFixed(0).toLocaleString('en-US') %></td>
                <td class="small-col">
                    <form action="/watchlists/<%= stock.T %>?_method=DELETE" method="POST">
                        <button class="del-btn">X</button></td>
                    </form>
              </tr>
            <% }); %>
            </tbody>
        </table>
    </div>


<%- include('../partials/footer') %>